ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
button{
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px white solid;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: black;
    }
}
